<?xml version="1.0"?>
<!--
/**
 * MB "Vienas bitas" (Magetrend.com)
 *
 * @category MageTrend
 * @package  Magetend/Scheduler
 * @author   Edvinas St. <edwin@magetrend.com>
 * @license  http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link     http://www.magetrend.com/magento-2-scheduler
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Magetrend_Scheduler::scheduler"
             title="Scheduler"
             module="Magetrend_Scheduler"
             sortOrder="1000"
             parent="Magento_Backend::marketing"
             resource="Magetrend_Scheduler::scheduler"/>


        <add id="Magetrend_Scheduler::schedule"
             title="Manage Schedules"
             parent="Magetrend_Scheduler::scheduler"
             module="Magetrend_Scheduler"
             sortOrder="10"
             action="scheduler/schedule/index/"
             resource="Magetrend_Scheduler::schedule"/>


        <add id="Magetrend_Scheduler::config"
             title="Settings"
             parent="Magetrend_Scheduler::scheduler"
             module="Magetrend_Scheduler"
             sortOrder="120"
             action="adminhtml/system_config/edit/section/scheduler"
             resource="Magento_Config::config"/>
    </menu>
</config>
